<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>DubStudio Pro требует доступ к микрофону для записи озвучки.</string>
    <key>NSCameraUsageDescription</key>
    <string>DubStudio Pro требует доступ к камере для записи видео-бэкстейджа.</string>
</dict>
</plist>
